<!DOCTYPE html>
<html>
<head>
	<title> Home </title>
</head>

<body>
	<h1> Hamro Notes </h1>

	<form action="/signup?result=">
		<input type="submit" value="Signup">
	</form>

	<form action="/login?result=">
		<input type="submit" value="Login">
	</form>

</body>
</html>
