<!DOCTYPE html>
<html>
<head>
	<title> Signup </title>
</head>

<body>
	<h1> Signup </h1>

	<form method="post">
		Email: <input type="text" name="email"> <br>
		Username: <input type="text" name="username"> <br>
		Password: <input type="text" name="password"> <br>
		<input type="submit" value="Signup">
	</form>

	<p> <%= result %> </p>

</body>
</html>
